body {
  padding: 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

main {
  max-width: 600px;
}

.score {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question h1 {
  line-height: 1.4;
}

h1 {
  font-size: 28px;
}

.answer label,
.answer input {
  cursor: pointer;
}

.answer:not(:last-child) {
  margin-bottom: 20px;
}

.answer label:hover {
  text-decoration: underline;
}